<app-header></app-header>

<ion-content>
  <!--imagen header-->
  <ion-row class="imgheader">

    <ion-col size="1"></ion-col>
    <ion-col size="5">
      <ion-row>
        <div class="container">
          <strong>Conviértete en un</strong>
          <br>
          <strong>Inversionista Digital</strong>

          <h4>Invierte en el fondo que se adapte a tus necesidades a través de nuestro portal digital.
            <strong>Darte de alta es muy fácil, rápido y completamente en línea.</strong> 
          </h4>
        </div>
      </ion-row>

      <ion-row>
        <div class="btn-squared">
          <p>Ver Fondos</p>
        </div>
      </ion-row>
    </ion-col>

  </ion-row>


  <!--termina a qui-->

  <app-carrusel-web></app-carrusel-web>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="5">
          <div>
            <img src="assets/images/phone-info.png">
          </div>
      </ion-col>
      <ion-col size="7">
        <strong>Con nuestro <span> portal digital </span> puedes realizar fondos de inversión de manera
          segura
          y sencilla.</strong>

          <br>
          <br>

        <h4>1.- Date de alta como cliente en nuestro portal.</h4>
        <h4>2.- Da de alta tu contrato.</h4>
        <h4>3.- Compra y vende Fondos de Inversión.</h4>
        <h4>4.- Visualiza tu flujo de efectivo.</h4>
      </ion-col>
    </ion-row>

  </ion-grid>

  <app-footer></app-footer>
  
</ion-content>