<ion-grid *ngIf="isLoading">
  <ion-spinner name="dots" color="secondary"></ion-spinner>
</ion-grid>

<ion-grid *ngIf="!isLoading">

  <form [formGroup]="financeForm" (ngSubmit)="submitFinanceDataForm()">

    <ion-row> 
      <h2>Ingresos</h2>
      <span> Ingresa la información solicitada a continuación con respecto a tus ingresos.</span>
    </ion-row>


    <ion-list>
      <ion-item mode="md">
        <ion-label position="floating" color="secondary">Sueldo o Monto Anual Neto</ion-label>
        <ion-input formControlName="salary" type="text" class="custom" placeholder="Sueldo o Monto Anual Neto"></ion-input>
      </ion-item>

      <ion-item mode="md">
        <ion-label position="floating" color="secondary">Actividad Principal</ion-label>
        <ion-select formControlName="occupation" placeholder="Actividad Principal" interface="popover" color="secondary">
            <ion-select-option value="Ingeniería" color="secondary">Ingeniería</ion-select-option>
            <ion-select-option value="Licenciatura" color="secondary">Licenciatura</ion-select-option>
            <ion-select-option value="Otro" color="secondary">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item mode="md">
        <ion-label position="floating" color="secondary">Nombre cliente</ion-label>
        <ion-input formControlName="jobName" type="text" class="custom" placeholder="Entidad a la que se prestan servicios"></ion-input>
      </ion-item>

      <ion-item mode="md">
        <ion-label position="floating" color="secondary">Giro del Servicio</ion-label>
        <ion-select formControlName="jobActivity"  placeholder="Giro del Servicio" interface="popover" color="secondary">
            <ion-select-option value="Tecnologías" color="secondary">Tecnologías</ion-select-option>
            <ion-select-option value="Servicios" color="secondary">Servicios</ion-select-option>
            <ion-select-option value="Otro" color="secondary">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item mode="md">
        <ion-label position="floating" color="secondary">Rango del Puesto</ion-label>
        <ion-select formControlName="seniority" placeholder="Rango del Puesto" interface="popover" color="secondary">
            <ion-select-option value="Junior" color="secondary">Junior</ion-select-option>
            <ion-select-option value="Senior" color="secondary">Senior</ion-select-option>
            <ion-select-option value="Otro" color="secondary">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item id="seniorityDate" mode="md">
        <ion-label position="floating" color="secondary">Antigüedad</ion-label>
        <ion-input formControlName="jobExperience" value="{{ date | date: 'dd/MM/yyyy' }}"></ion-input>
        <ion-icon slot="end" name="calendar" color="secondary" mode="md"></ion-icon>
        <ion-modal trigger="seniorityDate" [cssClass]="'bottom-end'">
            <ng-template>
              <ion-datetime formControlName="jobExperience" resentation="date" size="cover" name="date"
                            [(ngModel)]="date" [showDefaultButtons]="true"></ion-datetime>
            </ng-template>
        </ion-modal>
      </ion-item>
      
      <ion-item mode="md">
        <ion-label position="floating" color="secondary">Cargos Públicos</ion-label>
        <ion-select  formControlName="publicCharges" placeholder="Cargos Públicos" interface="popover" color="secondary">
            <ion-select-option value="Si" color="secondary">Si</ion-select-option>
            <ion-select-option value="No" color="secondary">No</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <section>
      <ion-button mode="ios" type="submit" expand="block" >Aceptar</ion-button>
      <!-- <ion-button mode="ios" type="submit" expand="block" [disabled]="!financeForm.valid">Aceptar</ion-button> -->
    </section>

  </form>

</ion-grid>
