ion-grid{
    width: 100%;
    ion-icon{
        font-size: 38px;
    }
    ion-slides{
        margin-left: 24px;
        margin-right: 24px;
    }
    
    ion-card{
        height: 395px;
        img{
            width: 100%;
        }
        ion-card-content{
            color: var(--ion-color-warning-contrast);
        }
        h5{
            position: absolute;
            bottom: 0;
            right: 16px;
            color: var(--ion-color-primary);
        }
    }

    
}



 