<ion-content scroll-y="false">

  <ion-grid class="top-48">

      <ion-row>
        <span>¿Cómo debo tomarla?</span>
      </ion-row>

      <ion-row>
        <p style="color:aliceblue">Características</p>
      </ion-row>

      <ion-row>
        <ion-label color="light">
          <ion-icon name="ellipse" color="primary"></ion-icon>
          Debe ser a color
        </ion-label>
      </ion-row>

      <ion-row>
        <ion-label color="light">
          <ion-icon name="ellipse" color="primary"></ion-icon>
          Tu rostro frente a la cámara
        </ion-label>
      </ion-row>

      <ion-row>
        <ion-label color="light">
          <ion-icon name="ellipse" color="primary"></ion-icon>
          Orejas descubiertas
        </ion-label>
      </ion-row>

      <ion-row>
        <ion-label color="light">
          <ion-icon name="ellipse" color="primary"></ion-icon>
          Sin lentes
        </ion-label>
      </ion-row>

  </ion-grid>

  <ion-grid class="bottom">
    <section>
      <ion-button mode="ios" expand="block" (click)="modalCtrl.dismiss()">Ok</ion-button>
    </section>
  </ion-grid>

  
</ion-content>
