
ion-content{
    --background: url("/assets/images/background-login.jpg") no-repeat 50% 25%;

    ion-grid{
        align-items: center;
        backdrop-filter: brightness(0.5);
        display: flex;
        height: 100%;
        flex-direction: column;
        // justify-content: center;
        padding: 0;

        .botom-text{
            bottom: 16px;
            position: absolute;
            
            ion-button{
                color: #fff;
                font-size: x-large;
            }
        }
    }

    section{
        width: 80%;
        margin-top: 16em;

        ion-row{
            
            span{
                color: #fff;
                font-size: x-large;
                text-align: center;
                width: 100%;
                strong{
                    color: var(--ion-color-primary);
                }
            }
    
            ion-button{
                width: 100%;
            }
        }

    }

@media (min-width:720px){
    section{
            width: 30%;
            margin-top: 2em;
    
            ion-row{
            
                span{
                    color: #fff;
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    strong{
                        color: var(--ion-color-primary);
                    }
                }
        
                ion-button{
                    width: 100%;
                }
            }
        
        }
    }

}


ion-row{

    backdrop-filter: brightness(0.5);
    
    img {
        display: block;
        margin: auto;
        max-width: 50%;
        margin-top: 0em;

    }       
    span{
        color: #fff;
        font-size: x-large;
        width: 100%;
        text-align: center;
        margin-top: -2em;
        strong{
            color: var(--ion-color-primary);
        }
    }

}


